doctype html

html

    head
  
        title Bitua
        
        link(href="img/favicon.ico" rel="shortcut icon" type="image/x-icon")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
    
    body(class="mainbody", ng-app="bituaApp")
  
        //Header
        div(class="navbar navbar-inverse navbar-static-top overridecolor1")
            nav(class="container",role="navigation")
                div(class="navbar-header")
                    button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(href='#',class="navbar-brand")
                     //img(src="/img/bitua-small.png")
                div(class="collapse navbar-collapse")
                    //ul(class="nav navbar-nav")
                    //    li(class="active")
                    //        a(href='#')
                    //            i(class="fa fa-home")
                    ul(class="nav navbar-nav navbar-right",ng-hide='authenticated')
                        li
                            a(href='#/about') About
                    ul(class="nav navbar-nav navbar-right",ng-show='authenticated')
                        li(class="dropdown")
                            a(class="dropdown-toggle",data-toggle="dropdown")
                                i(class="fa fa-user")
                                strong {{current_user}}
                                b(class="caret")
                            ul(class="dropdown-menu")
                                li
                                    a(href='#/settings') Settings
                                    a(href='#',ng-click="signout()") Logout
                              
                              
                    
        
        //The main view to be populated by angular
        div(class="container")
            div(ng-view="")
                
        //Footer
        div(class="navbar navbar-default navbar-fixed-bottom")
            div(class="container")
                a(href='#/useragreement',class="navbar-text") User Agreement
                a(href='#/privacypolicy',class="navbar-text") Privacy Policy
                a(href='#/cookiepolicy',class="navbar-text") Cookie Policy
                a(href='#/contact',class="navbar-text") Contact Us
                a(href='#/adminreg',class="navbar-text") Admin Registration
                a(href='#/adminlogin',class="navbar-text") Admin Login
                

 
        //js scripts all go here
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')        
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js')
        script(src='javascripts/bitcoinjs.min.js')
        script(src='javascripts/qr.min.js')
        script(src='javascripts/bituaApp.js')
