<div class = "container" ng-controller="adminissueController" >
    
    
    <ul class="nav nav-tabs" role="navigation">
              
            <li class=""><a href="#/adminhome"><i class="fa fa-home"></i><strong>Home</strong></a></li>
            <li class=""><a href="#/admintransfer"><i class="fa fa-exchange"></i><strong>Transfer</strong></a></li>
            <li class="active"><a href="#/adminissue"><i class="fa fa-industry"></i><strong>Issue</strong></a></li>
            <li class=""><a href="#/adminsettings"><i class="fa fa-wrench"></i><strong>Settings</strong></a></li>

    </ul>
    

                        
    <form ng-submit="adminissue()"  id="send-coins-form">
        <div class="panel panel-primary full-page-dialog">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>Issue</strong></h3>
            </div>
            
            <div class="panel-body">
                
                <div class ="row">
                    <div class="body-header">
                        <i class="fa fa-industry fa-3x pull-left fa-border"></i>
                        <p>Generate new batch of reward points</p>
                        <p><small></small></p>
                    </div>
                </div>
                <hr>
                <div class="alert alert-success" ng-show="showSuccessAlert">
                                {{successTextAlert}}
                </div>

                
    
                <div class="col-md-12 form-group">
                    <label class="control-label col-sm-3" for="amount-unit">Amount</label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <input type="text" ng-model="issueDetail.amount" class="form-control" id="amount-unit" placeholder="Amount">
                        <span class="input-group-addon">
                            <i class="fa fa-star-o">Points</i>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-12 form-group">
                    <label class="control-label col-sm-3" for="fees">Fees</label>
                    <div class="col-sm-4">
                      <div class="input-group">
                        <input class="form-control" ng-model="issueDetail.fees" type="text" id="fees" name="fees" placeholder="Fees" value="0.0001">
                            <span class="input-group-addon"><i class="fa fa-btc">tBTC </i>
                            </span>
                      </div>
                    </div>
                  </div>

            </div>
    
    
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
    </div>
</form>


            
</div>